
.card-body{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin: 15px;
    
   
    
}

.card-columns{
    border: 5px solid yellow;
  
}

.card{
    flex: 2;
    /* background-color: orange; */
    width: 100%;
    background-color:aquamarine;
}
.col-md-6 ul{
    border: 2px solid black;
    width: 60%;
    list-style: none;
    padding: 10px;
}
.jumbotron{
    height: 200%;
    display: flex;
}







