h1{
    color: greenyellow;
    background-color:rgba(0, 0, 0, 0.534);
    font-weight: 800;
}

.card{
    width: 100%;
    background-color:aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.col-md-6 ul li{
    border: 2px solid black;
    width: 60%;
    margin: 1%;
    list-style: none;
    padding: 1%;
}

.col-md-6 ul{
    width:300%;
}


.jumbotron-fluid{
    display: flex;
    overflow: hidden;
    background-image: url("src/assets/mind.jpeg");

}
#detailes-button{
    margin-left: 90%;
    font-size: small;
}
#quotes{
    display: flex;
    
}







