<!-- <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form> -->

<div class="jumbotron">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
    <div class="card">
        <div class="card-body">


            <div class="col-md-6">
                <h1>Quotes</h1>
                <br>
                <ul>
            
                    <div *ngFor='let quote of quotes;let i = index' id="quotes">
                        <button class="btn btn-success" (click)='toggleDetails(i)'>More Details</button>
                        <li id="{{i}}">{{quote.title}} <br> {{quote.description}}</li>
                        <!-- <button class="btn btn-success" (click)='toggleDetails(i)'>Quote Details</button> -->
            
                        <app-quote-detailes *ngIf="quote.showDescription" [quote]='quote' (isComplete)='completeQuote($event,i)'>
                        </app-quote-detailes>
                    </div>
                </ul>
                <br>
            </div>

            
        </div>
    </div>
</div>
