.card{
    width: 100%;
    background-color:aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.col-md-6 ul li{
    border: 2px solid black;
    margin: 5%;
    list-style: none;
    display: inline;
    padding: 10px;
    
}

.jumbotron{
    height: 200%;
    display: flex;
}
#detailes-button{
    margin-left: 60%;
    font-size: small;
}
#quotes{
    display: flex;
    
}







